{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.182.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.182.0/examples/jsm/"
            }
        }
    </script>


  </head>
  <body>
    <navbar> 
        
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">log in</a>
        {% endif %}

    </navbar>
    Hello world!
    {% block content %}
    {% endblock %}

  </body>
  <canvas>
  </canvas>
{% block scripts %}{% endblock %}

</html>